<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { page: 'login' } ) %>

  <body class="has-navbar-fixed-right">
    <%- include('../partials/nav.ejs') %>
        <h1 class="title">Login</h1>
        <form action="/login" method="POST">
          <div>
            <label class="label">Email</label>
            <div class="control">
              <input
                name="email"
                class="input"
                type="email"
                placeholder="example@domain.com"
              />
            </div>
          </div>
          <div>
            <label class="label">Password</label>
            <div class="control">
              <input
                name="password"
                class="input"
                type="password"
                placeholder="******"
              />
            </div>
          </div>
          <div>
            <div class="control">
              <button class="button is-link is-fullwidth">Submit</button>
            </div>
          </div>
        </form>
        <a href="/">Back</a>
  </body>
</html>