
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="https://i.imgur.com/nAIeNBb.png" style=" height: 40px; width: 80px;" class="navbarimg" href="/home"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu!</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <% if (typeof routes) { %> <% routes.forEach((route) => { %>
                
                <li><a class="controls" href="<%= route.href %>"> <%= route.title %> </a></li>
                
            <% }) %> <% } %>
              <!-- <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="/home/new">Create New</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </ul>
            </li>
            <li class="nav-item"> -->
              <!-- <a class="nav-link" href="/">Log Out</a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>