<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', "Comments" )%>
<body>
    <%- include('../partials/nav.ejs', "Comments" )%>
    <h1>New Comment</h1>
    <form action="/comments" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Rating</label>
        <input type="text" name="rating" class="form-control" id="exampleFormControlInput1" placeholder="1-10">
    </div>
    <div class="mb-3">
        <label for="exampleForm" class="form-label">Add your comment</label>
        <textarea type="text" name="comments" placeholder="type comment here" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="Submit" value="Create Comment" class="btn btn-primary btn-lg">Submit</button>
    </div>
    </form>
    <label>
        Related Product
        <select name="product">
            <% for (let i = 0;i<post.length;i++){%>
                <option value="<%=post[i]._id%>"><%=post[i].name%> </option>
            <%}%>
        </select>
    </label><br/>
</html>