<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Product: <%=comment.post.name%></p>
    <a href="/home/<%=comments.post._id%>">Find more information about  <%=comment.post.name%></a>
</body>
</html>