a {
    text-decoration: none;
    color: black;
}

.card {
    flex-wrap: wrap;
    display: flex;
}
.title {
    padding-top: 5%;
    text-align: center;
}

.welcome-page {
    text-align: center;
    font-size: x-large;
    padding-top: 9em;
    background: rgb(125,217,218);
    background: -moz-radial-gradient(circle, rgba(125,217,218,1) 0%, rgba(255,151,29,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(125,217,218,1) 0%, rgba(255,151,29,1) 100%);
    background: radial-gradient(circle, rgba(125,217,218,1) 0%, rgba(255,151,29,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

.login {
    color: black;
    font-size:large
}
.homepage {
    width:650px ;
    height:350px;
}
.register {
    color: black;
    font-size:large
}
.form {
    padding: 150px 350px 50px 350px;
}
.comments{ 
    justify-content: center;
    align-items: center;
}
.comments1{
    text-align: center;
}
.showcard {
    text-align: center;
    margin-top: 20px;
}

.container {
    text-align: center;
}
.logoimage {
    display: flex;
    justify-content: center;
}
.edith1{
    padding-top: 15%;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
}
.logo {
    padding-top: 5%;
    height: 150px;
    width: 300;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 750px){
    .form {
        padding: 100px 30px 5px 30px;
    }
    .homepage {
        width:650px ;
        height:350px;
    }
    .edith1{
        padding-top: 25%;
        text-align: center;
        margin-bottom: -50px;
        font-size: x-large;
    }
    .comments{ 
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .showcard {
        text-align: center;
        margin-top: 60px;
    }
    
}