body {
    background-color: #AABDA1;
    background-position: center;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
}



.wrapper {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.input {
    max-width: 500px;
}

.card-image-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}